# Data Science Tools and Ecosystem

In this notebook, Data Science Tools and Ecosystem are summarized.

Objectives:

- List popular languages for Data Scienece
- An ordered list of commonly used languages
- A table of Data Science Tools

Some of the popular languages that Data Scientists use are:

- Python
- R
- MySQL

Some of the commonly used libraries used by Data Scientists include:

1. matplotlib
2. pandas
3. numpy
4. tensorflow

| Data Science Tools         |
|----------------------------|
| Jupyter Notebook           |
| RStudio                    |
| Apache Zeppelin            |

### Below are a few examples of evaluating arithmetic expressions in Python.

In [2]:
#This a simple arithmetic expression to mutiply then add integers

(3*4) + 5

17

In [8]:
#This will convert 200 minutes to hours by diving by 60

result = round(200/60, 2)

print(f'200 mins is {result} hours')

200 mins is 3.33 hours

## Author

Micah Woldu